<a href="https://colab.research.google.com/github/faridsaidani/recommendationiaiwd23/blob/main/Recommendation_System_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

ratings_df = pd.read_json("ecommerce/ratings.json")
customers_df = pd.read_json("ecommerce/customers.json")
products_df = pd.read_json("ecommerce/products.json")

In [ ]:
ratings_df.head()

   CustomerID  ProductID  Rate           CreateDate
0      103416        619     1  2018/01/01 01:36:30
1      103654        411     1  2018/01/01 01:36:35
2      103954        298     3  2018/01/01 01:36:38
3      103672        361     5  2018/01/01 01:37:15
4      103960        536     5  2018/01/01 02:36:25

In [ ]:
customers_df.head()

       Id     NickName
0  103603  1000kgthanh
1  103760  999999999ok
2  103829       ac7ive
3       1        admin
4  103839  ahkk.nguyen

In [ ]:
products_df.head()

   Id                                            Name  UnitPrice
0   1                         Build your own computer     1200.0
1   2  Digital Storm VANQUISH 3 Custom Performance PC     1259.0
2   3             Lenovo IdeaCentre 600 All-in-One PC      500.0
3   4                       Apple MacBook Pro 13-inch     1800.0
4   5                       Asus N551JK-XO076H Laptop     1500.0

In [ ]:
products_df["Id"].nunique()

691

In [ ]:
products_df = products_df.drop(['UnitPrice', 'Id'], axis=1)

In [ ]:
products_df['Name'] = products_df['Name'].str.lower()

In [ ]:
products_df.head()

                                             Name
0                         build your own computer
1  digital storm vanquish 3 custom performance pc
2             lenovo ideacentre 600 all-in-one pc
3                       apple macbook pro 13-inch
4                       asus n551jk-xo076h laptop

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
vectorized = vectorizer.fit_transform(products_df['Name'])

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

similarities = cosine_similarity(vectorized)

In [ ]:
print(similarities)

[[1.         0.         0.         ... 0.         0.         0.        ]
 [0.         1.         0.15430335 ... 0.         0.         0.        ]
 [0.         0.15430335 1.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 1.         0.         0.        ]
 [0.         0.         0.         ... 0.         1.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]

In [ ]:
df = pd.DataFrame(similarities, columns=products_df['Name'], index=products_df['Name']).reset_index()

df.head()

Name,Name,build your own computer,digital storm vanquish 3 custom performance pc,lenovo ideacentre 600 all-in-one pc,apple macbook pro 13-inch,asus n551jk-xo076h laptop,samsung series 9 np900x4c premium ultrabook,hp spectre xt pro ultrabook,hp envy 6-1180ca 15.6-inch sleekbook,lenovo thinkpad x1 carbon laptop,...,the croods: a new age,mission: impossible - fallout,"the gangster, the cop, the devil",the notebook,about time,bird box,snowpiercer,edge of tomorrow,ponyo,escape room
0,build your own computer,1.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,digital storm vanquish 3 custom performance pc,0.0,1.000000,0.154303,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,lenovo ideacentre 600 all-in-one pc,0.0,0.154303,1.000000,0.0,0.0,0.0,0.0,0.000000,0.169031,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,apple macbook pro 13-inch,0.0,0.000000,0.000000,1.0,0.0,0.0,0.2,0.182574,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,asus n551jk-xo076h laptop,0.0,0.000000,0.000000,0.0,1.0,0.0,0.0,0.000000,0.223607,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
def product_recommendation(product):
  recommendations = pd.DataFrame(df.nlargest(11,product)['Name'])
  recommendations = recommendations[recommendations['Name']!=product]
  return (recommendations)

In [ ]:
print(product_recommendation('xiaomi redmi note 6 pro 32gb'))

                                  Name
87        xiaomi redmi note 6 pro 64gb
86            xiaomi redmi note 7 64gb
634  xiaomi redmi note 11s 6gb - 128gb
82                     xiaomi redmi go
83                 xiaomi redmi 7 16gb
10                       windows 8 pro
89                         xiaomi mi 8
178              samsung galaxy note 8
84                   xiaomi mi a2 lite
638             tecno spark 7 2gb-32gb